<%- include('header') -%>
<h1>about</h1>
<p>jdkfjsdlkfjsdlkjfsdlkjflksdajflkdsjflksdjflkdsjflkdsajflksdjflks
    djflkdsjflsdjf;lksdajflksdaj
    flksdajflksjdlkfdsflksdflkdsjflksd</p>

<%- include('footer') -%>